@import url("https://fonts.googleapis.com/css?family=Dekko|Lato|Rock+Salt|Permanent+Marker");

* {
  margin: 0;
  padding: 0;
  color: rgb(235, 235, 235);
}

.bubble-text {
  color: #000;
}

.archives {
  max-width: 1080px;
}

.logo {
  max-width: 46px;
}

body {
  background-color: #0e0e0e;
  display: grid;
  place-items: center;
  background-size: 10px, 100%;
  font-family: "Dekko";
  width: 100%;
}

.paragraph {
  /* font-family: "Dekko"; */
  max-width: 500px;
  font-size: 18px;
}

.projects {
  max-width: 500px;
}

.container__items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.polaroid__content-caption {
  font-family: "Permanent Marker";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding-top: 10px;
  position: relative;
  color: #000;
}

.text-center {
  color: #000;
}

.polaroid {
  margin: 30px;
  width: 400px;
  height: 450px;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
  filter: grayscale(100%);
}

.polaroid__content-image {
  height: 330px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 5px;
}

.polaroid__content-image > img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.bubble {
  margin: auto;
  max-width: 500px;
  padding: 0.2rem 1.25rem;
  margin-bottom: 2rem;
  text-align: center;
  font-family: "Dekko", cursive;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #fff;
  background-size: 12px, 100%;
  /* solid border */
  border: 0.4rem solid #ffffff;
  /* position relative for the :before pseudo element */
  position: relative;
}

/* for the highlight container change the solid backgorund to a yellow-ish hue */
.bubble--highlight {
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.8" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23d68810"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #ffcd28;
  background-size: 13px, 100%;
  font-weight: 700;
}

/* for every .bubble container add a solid background behind the container itself, slightly offset */
.bubble:before {
  content: "";
  position: absolute;
  left: -0.6rem;
  top: 0.15rem;
  width: 100%;
  height: 100%;
  /* with the same texture, but different color, for both the texture and the background */
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(35)" opacity="1" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #000;
  background-size: 12px, 100%;
  border: 0.4rem solid #000;
  z-index: -5;
}

.comicText {
  font-family: "Dekko", cursive;
  font-size: 1.2rem;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

#tagText {
  color: #fff;
}

.spider-tag {
  padding: 1rem 7.5rem 11rem;
  border-radius: 30px;
  font-size: 2rem;
  color: #fff;
  background: #eb1d36;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  box-shadow: 0 1px 15px -7.5px #000000;
  position: relative;
  line-height: normal;
}
.spider-tag strong {
  text-transform: uppercase;
  font-size: 3.5rem;
}
/* with the :before pseudo element include a solid white background */
.spider-tag:before {
  content: "";
  position: absolute;
  top: 9rem;
  left: 2%;
  width: 96%;
  height: 9.5rem;
  background: #fff;
  /* border-radius mathing the .spider-tag container */
  border-radius: 0 0 30px 30px;
}
/* with the :after pseudo element add the name of the character */
.spider-tag:after {
  content: "Priyam Raj";
  position: absolute;
  top: 11.25rem;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: "Rock Salt", cursive;
  font-size: 2rem;
  letter-spacing: 0.25rem;
  font-weight: 300;
  font-weight: bold;
  color: #000;
}

.striked {
  text-decoration: line-through;
}

section {
  display: block;
  margin-bottom: 20px;
}

section h1,
section h2,
section h3,
section h4,
section h5,
section h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

section h1 {
  font-size: 2em;
}

section h2 {
  font-size: 1.5em;
}

section p {
  margin-top: 0;
  margin-bottom: 10px;
}

.year {
  margin-bottom: 2rem;
}

.year h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.year p {
  margin-bottom: 1rem;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline-item {
    padding: 10px 40px;
    position: relative;
    width: 50%;
}

.timeline-item::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.timeline-item .timeline-year {
    position: absolute;
    width: 100px;
    top: 15px;
    right: -50px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background: #FF9F55;
    border-radius: 50%;
    z-index: 1;
}

.timeline-item .timeline-content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.timeline-item .timeline-content.left {
    left: 0;
}

.timeline-item .timeline-content.right {
    left: 50%;
}

.timeline-item .timeline-content.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.timeline-item .timeline-content.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}